name: Release Build

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read
  actions: read

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Build
        run: cargo build --verbose --release
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: eifa-linux-x86_64
          path: target/release/eifa

  build-macos:
    strategy:
      matrix:
        include:
          - os: macos-15-intel 
            target: x86_64-apple-darwin
            artifact_name: eifa-macos-x86_64
          - os: macos-14 
            target: aarch64-apple-darwin
            artifact_name: eifa-macos-aarch64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}
      - name: Build
        run: cargo build --verbose --release --target ${{ matrix.target }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: target/${{ matrix.target }}/release/eifa

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Build
        run: cargo build --verbose --release
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: eifa-windows-x86_64
          path: target/release/eifa.exe